<header>
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" routerLinkActive="active" routerLink="home">
        <h1>Evans Website</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu dropdown-color" aria-labelledby="navbarDropdown" routerLinkActive="active">
              <li><a class="dropdown-item" routerLink="game">Finished Simple Platformer</a></li>
              <li><a class="dropdown-item" routerLink="circle">Timer based dodging game</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="simpleAI">In Progress Game 1</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>