<div>
    <!-- <div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
        <h1>Boostrap jumbotron</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus nostrum non natus dolore possimus aliquam cumque provident culpa suscipit adipisci ea tempore nihil alias itaque corporis, voluptatem reiciendis autem molestias!
        </p>
        <a class="btn btn-lg btn-primary" href="" role="button">HEHEHE</a>
    </div> -->
    <div style="height: clac(95vh);">
        <h4> possible color schemes</h4>
        <div>
            <ul>
                <li><p style="background-color: #CCE8CC;">color 1</p></li>
                <li><p style="background-color: #F6EFEE;">color 2</p></li>
                <li><p style="background-color: #E2B6CF;">color 3</p></li>
                <li><p style="background-color: #E396DF;">color 4</p></li>
                <li><p style="background-color: #E365C1;">color 5</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><p style="background-color: #738290;">color 1</p></li>
                <li><p style="background-color: #A1B5D8;">color 2</p></li>
                <li><p style="background-color: #FFFCF7;">color 3</p></li>
                <li><p style="background-color: #E4F0D0;">color 4</p></li>
                <li><p style="background-color: #C2D8B9;">color 5</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><p style="background-color: #1B1725;">color 1</p></li>
                <li><p style="background-color: #534B62;">color 2</p></li>
                <li><p style="background-color: #A499B3;">color 3</p></li>
                <li><p style="background-color: #D0BCD5;">color 4</p></li>
                <li><p style="background-color: #226CE0;">color 5</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><p style="background-color: #54494B;">color 1</p></li>
                <li><p style="background-color: #7E8287;">color 2</p></li>
                <li><p style="background-color: #9DA39A;">color 3</p></li>
                <li><p style="background-color: #B98389;">color 4</p></li>
                <li><p style="background-color: #DB2955;">color 5</p></li>
            </ul>
        </div>
    </div>
</div>